@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;

  /* margin: 0 auto; */
}

.header {
  background: #3c3a39;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.hamburger {
  cursor: pointer;
}

.bar {
  display: block;
  width: 16px;
  height: 2px;
  background: #fff;
  margin: 4px auto;
}

.links {
  height: 0;
  overflow: hidden;
}

.headline {
  background-color: #1c1a19;
  background-image: url(images/headline/mobile-headline-img.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 120px 0 160px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.headline-content {
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.primary-text {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  text-transform: capitalize;
}

.supporting-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social-media {
  padding: 0 24px;
}

.headline ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  align-items: center;
}

/* ----work section---- */

.work {
  padding: 120px 0;
}

.recent-work {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.work-heading {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  text-transform: capitalize;
  margin-bottom: 24px;
  padding: 10px 0;
}

.work-hr {
  border: none;
  height: 1px;
  margin-bottom: 80px;
  background: #212121;
}

.featured-work {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-gym {
  width: 327px;
  margin: 0 auto;
}

.desktop-gym {
  display: none;
}

.right-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.work .title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  padding: 0 24px;
}

.work .para {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  padding: 0 24px;
}

.work .langs {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  padding: 0 24px;
  gap: 12px;
}

.work .lang {
  padding: 10px 12px;
  border: 1px solid #8993a4;
}

.work a {
  color: #091e42;
}

.btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background: #ff6b00;
  color: #fff;
  cursor: pointer;
  width: fit-content;
  padding: 12px;
  border: none;
  text-transform: capitalize;
}

.btn-center {
  width: 100%;
  text-align: left;
  padding: 0 24px;
}

/* grid styles */

.grid-container {
  display: grid;
  grid-template-columns: 327px;
  grid-auto-rows: 386px;
  row-gap: 24px;
  justify-content: center;
}

.grid-item {
  border: 1px solid rgb(65, 218, 65);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
  position: relative;
}

.grid-item img {
  width: 100%;
}

.card-img {
  position: absolute;
}

.desk-img {
  display: none;
}

.card-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 16px;
}

.desktop-para {
  display: none;
}

.card-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-transform: capitalize;
}

.card-desc {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.grid-item .tags {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  gap: 12px;
}

.grid-item .lang {
  background: rgba(255, 255, 255, 0.24);
  border: none;
}

.grid-item a {
  color: #fff;
}

.grid-item .card-btn {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background: #ff6b00;
  color: #fff;
  cursor: pointer;
  padding: 12px;
  border: none;
  text-transform: capitalize;
}

.button:hover {
  background: #fff5e1;
  color: #f55800;
}

.button:active {
  background: #e05304;
  color: #f4f1f0;
}

.button:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

/* --------About section---------- */

.about {
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  padding: 120px 0;
}

.top-block {
  display: flex;
  flex-direction: column;
  background: url(images/about/mobile-about.png) no-repeat right bottom;
  padding-bottom: 200px;
}

.about .about-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 24px;
}

.about .about-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about .about-desc {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about .about-btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background: #ff6b00;
  color: #fff;
  text-transform: capitalize;
  padding: 12px;
  border: none;
}

.about .about-hr {
  border: none;
  height: 1px;
  background: #fff;
  margin-top: 8px;
  margin-right: 24px;
  margin-left: 24px;
}

.bottom-block {
  margin-top: 120px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.about .frame {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.about .frame-img {
  width: 18px;
  height: 18px;
}

.about .adjust {
  width: 14px;
  height: 14px;
}

.about .frame-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.about .block-list {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

/* -------------Contact Section------------- */

.contact {
  display: flex;
  flex-direction: column;
}

.contact-me {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.contact .contact-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: center;
  padding: 0 24px;
}

.contact .contact-form {
  margin: 0 24px;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact label {
  display: none;
}

.contact input,
.contact textarea {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  padding: 12px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #dbd8d7;
}

.contact textarea {
  background: #fbf8f7;
  color: #3c3a39;
  min-height: 114px;
  border: 0;
}

.contact .contact-btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background: #ff6b00;
  color: #fff;
  cursor: pointer;
  padding: 12px;
  border: 0;
}

.contact .contact-btn:hover {
  background: #fff5e1;
  color: #f55800;
}

.contact .contact-btn:active {
  background: #e05304;
  color: #f4f1f0;
}

.contact .contact-btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.contact .contact-button {
  text-align: center;
}

.contact-hr {
  border: none;
  height: 1px;
  background: #dfe1e6;
}

.contact ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  gap: 20px;
}

/* ----------------------DESKTOP VERSION STYLES----------------------- */

@media screen and (min-width: 768px) {
  .header {
    padding: 26px 150px;
  }

  .header a {
    color: #fff;
  }

  .hamburger {
    display: none;
  }

  .links {
    height: auto;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    gap: 20px;
  }

  .headline {
    background-image: url(images/headline/desktop-headline-img.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding: 250px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
  }

  .headline-content {
    width: 40%;
    margin: 0;
    order: 1;
  }

  .primary-text {
    padding-right: 30%;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  .supporting-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .social-media {
    order: 0;
    margin-left: 12px;
  }

  .headline ul {
    display: flex;
    flex-direction: column;
  }

  /* Work section */

  .work .recent-work {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    gap: 24px;
    padding: 0;
    margin-bottom: 114px;
  }

  .work .work-heading {
    color: #091e42;
    margin: 0;
    padding: 0;
  }

  .work .work-hr-div {
    width: 70%;
  }

  .work .work-hr {
    margin: auto 0;
  }

  .work .featured-work {
    max-width: 1156px;
    margin: 0 auto;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .work .mobile-gym {
    display: none;
  }

  .work .desktop-gym {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .work .right-block {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .work .title {
    font-size: 40px;
    line-height: 52px;
    padding: 0;
  }

  .work .para {
    font-size: 20px;
    line-height: 28px;
    padding: 0;
  }

  .work .langs {
    padding: 0;
  }

  .work .btn-center {
    padding: 0;
  }

  /* Grid styles */

  .work .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 369px);
    grid-auto-rows: 435px;
    row-gap: 37px;
    column-gap: 30px;
  }

  .work .mob-img {
    display: none;
  }

  .work .desk-img {
    display: block;
  }

  .work .card-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .work .card-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: -8px;
  }

  .work .hide-text {
    visibility: hidden;
  }

  .work .mobile-para {
    display: none;
  }

  .work .desktop-para {
    display: block;
  }

  .work .card-desc {
    font-size: 17px;
  }

  .work .hide-btn {
    display: none;
  }

  /* ---------About section----------- */

  .about {
    background: #262626;
    padding: 90px 0 130px;
  }

  .about .top-block {
    background: url(images/about/desktop-about.svg) no-repeat right top;
    padding-bottom: 0;
    margin-bottom: 120px;
  }

  .about .about-text {
    padding: 0;
    margin: 40px 0 0 142px;
    max-width: 566px;
  }

  .about .about-desc {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .about .about-hr {
    margin-top: 0;
    margin-right: 142px;
    margin-left: 142px;
  }

  .about .bottom-block {
    margin-top: 138px;
    padding: 0 13.7%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 17%;
  }

  .about .block-list {
    text-align: left;
  }

  /* Contact section */

  .contact-me {
    padding: 130px 0;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-left: 135px;
    margin-right: 142px;
  }

  .contact .contact-text {
    width: 455px;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
    text-align: left;
    padding: 0;
  }

  .contact .contact-form {
    width: 684px;
    margin: 0;
  }

  .contact input,
  .contact textarea {
    font-family: 'Roboto', sans-serif;
  }

  .contact .contact-button {
    text-align: left;
  }
}

@media screen and (min-width: 1170px) {
  /* Work section */

  .work .recent-work {
    width: 1133px;
  }

  .work .featured-work {
    display: flex;
    flex-direction: row;
  }

  /* Grid styles */

  .work .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 369px);
    grid-auto-rows: 435px;
    row-gap: 37px;
    column-gap: 24px;
  }
}
